body {
    background: linear-gradient(45deg,deeppink,crimson,firebrick,deeppink);
    background-size: 400% 400%;
    animation: color 8s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

@keyframes color {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

#detbox {
    border: 2px solid white;
    border-radius: 30px;
    height: 350px;
    width: 450px;
    color:azure;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -10px -10px 30px white;
    background: rgba(0, 0, 0, 0.3);
    gap: 15px;
}